/* font-family: "Raleway-Bold"; */
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/raleway/Raleway-Bold/Raleway-Bold.eot");
  src: url("../fonts/raleway/Raleway-Bold/Raleway-Bold?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/raleway/Raleway-Bold/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "Raleway-Light"; */
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/raleway/Raleway-Light/Raleway-Light.eot");
  src: url("../fonts/raleway/Raleway-Light/Raleway-Light?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Light/Raleway-Light.woff") format("woff"), url("../fonts/raleway/Raleway-Light/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "Raleway-Medium"; */
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/raleway/Raleway-Medium/Raleway-Medium.eot");
  src: url("../fonts/raleway/Raleway-Medium/Raleway-Medium?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Medium/Raleway-Medium.woff") format("woff"), url("../fonts/raleway/Raleway-Medium/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body{
	padding: 0;
	margin: 0;
	background-color: #F7F4E8;
}
.mx-yay_wrap{
	position: relative;
	width: 1220px;
	height: 700px;
	margin: 0px auto;
	border-left: 1px solid #a09c9c;
	border-right: 1px solid #a09c9c;
	z-index: 1;
}
.mx-yay_yin_header{
	height: 60px;
}
.mx-yay_yin_block{
	float: left;
	width: 47%;
	height: 100%;
	background-color: #DCDDF6;
	padding: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mx-yay_yang_block{
	float: left;
	width: 47%;
	height: 100%;
	background-color: #F6DCE2;
	padding: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mx-yay_info{
	float: left;
	width: 6%;
	height: 100%;
	background-color: #DEF6DC;
	padding: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mx-yay_point{
	width: 20px;
	height: 20px;
	display: table;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	cursor: pointer;
	z-index: 5;
}
		/**/
		.mxYayPoint_Yin{
			background-color: #3724E2;
		}
		.mxYayPoint_Yang{
			background-color: #E22424;
		}
		/**/

#mxYayPoint_Yin{
	float: left;
	background-color: #3724E2;	
}
#mxYayPoint_Yang{
	float: right;
	background-color: #E22424;
}

/* Field */
.mx-yay_yin_field{
	position: relative;
	width: 100%;
	height: 550px;
	background-color: #f5f2f2;
	/*background-color: #53F55E;
	opacity: 0.2;*/
	z-index: 2;
}

/* System */
.mx-yay_yin_sistem{
	width: 100%;
	height: 91px;
	position: absolute;
	bottom: 0px;
	background-color: #ddd;
	user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
.mx-yay_count_block{
	display: table;
	width: 100%;
	font-family: 'Raleway-Medium';
	font-size: 25px;
    line-height: 16px;
	padding-top: 18px;
}
.mx-yay_count_block div{
	width: 20px;
	height: 20px;
	float: left;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.mx-yay_count_block > span{
	padding-left: 12px;
}
.mx-yay_count_yin .mx-yay_count_block div{
	background-color: #3724E2;
}
.mx-yay_count_yin .mx-yay_count_block{
	color: #3724E2;
}
.mx-yay_count_yang .mx-yay_count_block div{
	background-color: #E22424;
}
.mx-yay_count_yang .mx-yay_count_block{
	color: #E22424;
}
.mx-yay_count_yin, .mx-yay_count_yang{
	float: left;
	width: 30%;
	height: 100%;
	padding: 20px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;

}
.mx-yay_count_yin{
	background-color: #DCDDF6;
}
.mx-yay_count_yang{
	background-color: #F6DCE2;
}
.mx-yay_timer{
	width: 40%;
	height: 100%;
	background-color: #fff;
	float: left;
	text-align: center;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	padding-top: 24px;
}
.mx-yay_timer span{
	font-size: 40px;
	font-family: "Raleway-Medium";
	color: #c4cabe;
}

/* Popup window */
.mx-popup_wrap{
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 889;
}
.mx-popup_wrap > div{
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #9a9a9a;
  background-color: #fefefe;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.mx-popup_wrap > div img {
  position: absolute;
  margin-top: 19px;
  width: 25px;
  right: 22px;
}
.mx-popup_wrap h2{
	font-family: 'Raleway-Bold';
  font-size: 30px;
  color: #4f5fdc;
  border-bottom: 3px solid #4f5fdc;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 12px;
}
.mx-popup_wrap h3{
	font-family: 'Raleway-Light';
  font-size: 22px;
  color: #333;
  padding-top: 10px;
}
.mx-popup_wrap p{
  font-family: 'Raleway-Medium';
  display: table;
  width: 100%;
  margin: 0px;
  font-size: 17px;
  clear: both;
  padding: 4px 0px;
  color: #8a8b8e;
}
.mx-popup_wrap p span{
  color: #333;
  display: table;
  width: 200px;
  float: left;
}
.mx-popup_wrap a{
  font-family: 'Raleway-Medium';
  font-size: 17px;
  color: #8b8b8b;
  text-decoration: underline;
}
.mx-popup_wrap a:hover{
  text-decoration: none;
}

/**/
.mx-yay_point_main_transition{
	-webkit-transition: .4s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: .4s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: .4s ease-out;
     -moz-transition-delay: 0.5s;
     transition: .4s ease-out;
     transition-delay: 0.5s;
}

.mx-point_this_user{
	width: 30px	!important;
	height: 30px !important;
	border: 2px solid #ddd;
	z-index: 21;
}

.mx-yay_point_load{
	cursor: default !important;
}